<mat-card>
  <form [formGroup]="form" (ngSubmit)="onSubmit()" fxLayout="column">

    <p>Ein gutes Passwort ist einfach zu merken und mindestens 5 Zeichen lang.</p>
    <p>Wie wäre es mit "HeuteIstEinSchönerTag!" oder "HeIsEiScTa." ?</p>

    <mat-form-field>
      <mat-label>Altes Passwort</mat-label>
      <input matNativeControl type="password" formControlName="oldPassword" autocomplete="current-password" />
    </mat-form-field>

    <mat-form-field>
      <mat-label>Neues Passwort</mat-label>
      <input matNativeControl type="password" formControlName="newPassword" autocomplete="off" />
    </mat-form-field>
    
    <mat-form-field>
      <mat-label>Neues Passwort wiederholen</mat-label>
      <input matNativeControl type="password" formControlName="newPasswordConfirmed" autocomplete="off" />
    </mat-form-field>

    <button mat-raised-button color="warn" type="submit" fxHide.lt-md [disabled]="!form.valid">Übernehmen</button>

  </form>
</mat-card>