<form fxLayout="row wrap">
  <app-category-selector [categories]="categories" label="1" [(selection)]="category1" (selectionChange)="refreshChart()"></app-category-selector>
  <app-category-selector [categories]="categories" label="2" [(selection)]="category2" (selectionChange)="refreshChart()"></app-category-selector>
  <app-category-selector [categories]="categories" label="3" [(selection)]="category3" (selectionChange)="refreshChart()"></app-category-selector>
  <app-category-selector [categories]="categories" label="4" [(selection)]="category4" (selectionChange)="refreshChart()"></app-category-selector>
</form>

<div fxLayout="column">
  <app-chart [data]="expenseChart"></app-chart>
  <app-chart [data]="revenueChart"></app-chart>
</div>