<div id="root" fxLayoutAlign="center">

  <div fxFlex="0 1 500px">

    <mat-nav-list>
      
      <mat-list-item routerLink="expense-history" class="cursor-hand">
        <mat-icon>show_chart</mat-icon>
        <span>Ausgabenhistorie</span>
      </mat-list-item>

      <mat-list-item routerLink="category-comparison" class="cursor-hand">
        <mat-icon>show_chart</mat-icon>
        <span>Kategorievergleich</span>
      </mat-list-item>
      
      <mat-list-item routerLink="csv-import" class="cursor-hand">
        <mat-icon>play_for_work</mat-icon>
        <span>Import-Tool</span>
      </mat-list-item>

    </mat-nav-list>

  </div>

</div>